<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Advert:</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body>

    <div th:replace=" fragments/navbar.html :: navbar">
      <!-- Navigation -->
    </div>

    <div th:replace=" fragments/header.html :: header">
      <!-- Header -->
    </div>

    <div th:replace=" fragments/navbar.html :: pagebar">
        <!-- Page Navbar -->
    </div>

    <div th:replace=" fragments/search.html :: search">
        <!-- Page Navbar -->
    </div>



    <div class="container">



        <small>Title</small>
        <p th:text="*{advert.title}"></p>
        <small>Description</small>
        <p th:text="*{advert.description}"></p>
        <small>Skill</small>
        <p th:text="*{skill}"></p>
        <small>Type</small>
        <p th:text="*{type}"></p>
        <small>Posted</small>
        <p th:text="*{advert.prettyDate()}"></p>
    </div>

  </body>
</html>